# Secrets
.env

# Node Modules
node_modules

# Build
dist

# Reports/Coverages
reports
coverage

# Yarn v2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editors/IDEs
.vscode
.idea
*.swp
tags
