.todo {
  display: flex;
  flex-direction: column;
}

.todo__submit {
  font-size: 18px;
  color: #1b1b1e;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.todo__submit:focus { outline: transparent; }

.todo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
