.shared__btn {
  background-color: var(--btn-default-color);
  border: none;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  margin: 0;
  padding: 0.8em 0.8em;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
}

.shared__btn:hover,
.shared__btn:active,
.shared__btn:focus {
  outline: transparent;
  background-color: var(--btn-hover-color);
}

.shared__btn[type="submit"] { display: none; }
