body {
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {margin: 0.5rem;}

.form > button {margin-top: 1rem;}
