/* TODO: add media query for display >= tablet */

.home {
  margin: 0 auto;
  width: max-content;
  font-family: Roboto, sans-serif;
}

.home > ul {
  list-style: none;
  padding: 0;
}

.home li {
  margin-bottom: 0.25rem;
}
