/* TODO: add media query for display >= tablet */
.home {
  width: max-content;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.home ul {
  padding: 0;
  list-style: none;
}

.home li {
  margin-bottom: 0.25rem;
}
