@import '~normalize.css';

:root {
  --main-bg-color: #445963;
  --main-tx-color: #1b1b1e;

  --header-bg-color: #1b3039;
  --header-tx-color: #f1f1f1;

  --btn-default-color: #233f4a;
  --btn-hover-color: #345c6d;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin-regular.woff2') format('woff2'),
       url('fonts/roboto-v20-latin-regular.woff') format('woff');
}
