/*  ============ App ===============*/

body {
  background: rgb(43,192,228);
  background: linear-gradient(90deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 90%); 
  color: black;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

#app {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
  img {
    max-width: 10vw;
    height: auto;
    margin: 0 auto;
  }
}
            
/* for-phone-only */
@media (max-width: 320px) {}
  /* default here, mobile 1st without grid */
  
/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) {}

/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {}

/* for-desktop-up */
@media only screen and (min-width: 1200px) {}

/* for-big-desktop-up */
@media (min-width: 1800px) {}
/*  ============ App ===============*/