@import '../partials/_variables';

form {
  display: flex;
  flex-direction: column;
}

input {
	font-size: 18px;
	color: $main-text;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
  &:focus {
    border: 3px solid $header-back;
    outline: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    background-color: darkgrey;
    color: $main-text;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    line-height: 45px;
    &:nth-child(2n) { 
      background-color: white;
      color: #666;
    }
  }
}

p {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover { cursor: pointer; }
}

.done {text-decoration: line-through;}

button {
  background-color: lighten($header-back, 5%);
  border: 1px solid $header-text;
  color: white;
  margin: 0 0 1.3em 0;
  padding: 0.8em 0.8em;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  &:focus { outline: none; border: none;}
  &:hover { cursor: pointer; background-color: lighten($header-back, 15%); }
  &[type=submit] { display: none; }
}
